<div class="container">
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<h1>Editing Menu</h1>
			
			<%= render 'form' %>
			
			<%= link_to 'Show', @menu %> |
			<%= link_to 'Back', menus_path %>
		</div>
	</div>
</div>