
<div class="container">
    <h3>About us </h3>
    <div "pull-left col-lg-4 col-xs-12">
        <!--<div class="col-sm-4">-->
            <p>
            Since 2012 Tandoori Indian Restaurant is offering delicious and tasty Indian cuisine in Dublin area.
            The Indian cuisine is characterized by the scent and flavor of its exotic spices.
            Each condiment used is rigorously balanced creating a simple and detailed blend, 
            as well as providing health benefits.
            Come to visit us in our restaurant or order a take away through the website.
           </p> 
         </div>
    <div class="col-sm-4">
        <img class="img-circle" src="/assets/indianrestaurant.jpg" alt="Generic placeholder image" width="200" height="200">
    </div>
    
    <div class="col-sm-4">
        <img class="img-circle" src="/assets/dishes.jpg" alt="Generic placeholder image" width="200" height="200">
    </div>
    
    <div class="col-sm-4">
        <img class="img-circle" src="/assets/bar.jpg" alt="Generic placeholder image" width="200" height="200">
    </div>
</div>


</div>
</div>
