
<div class="container">
  <h2>Contact Us</h2>
  <form class="form-horizontal">
    <div class="form-group">
      <label class="control-label col-sm-2" for="name">Name:</label>
      <div class="col-sm-4">
        <input type="name" class="form-control" id="name" placeholder="Enter your name">
      </div>
    </div>
    
    <div class="form-group">
      <label class="control-label col-sm-2" for="email">Email:</label>
      <div class="col-sm-4"> 
        <input type="email" class="form-control" id="email" placeholder="Enter your email">
      </div>
    </div>
    
    <div class="form-group">
      <label class="control-label col-sm-2" for="phone">Phone:</label>
      <div class="col-sm-4"> 
        <input type="phone" class="form-control" id="phone" placeholder="Enter your contact number">
      </div>
    </div>
    
    <div class="form-group">
    <label class="control-label col-sm-2" for="comment">Comment:</label>
    <div class="col-sm-4"> 
    <textarea class="form-control" rows="5" id="comment" placeholder="Write your comments"></textarea>
    </div>
  </div>
    
    <div class="form-group"> 
      <div class="col-sm-offset-2 col-sm-10">
        <button type="send" class="btn btn-default">Send</button>
      </div>
    </div>
  </form>
</div>